body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

div {


}

.search-container {
  margin: 30px auto;
  width: 620px;
}

.search-container input {
  padding: 2px;
}

.search-container .search-bar {
  font-size: 24px;
  line-height: 34px;
  width: 446px;
  border: 1px solid gray;
  padding-left: 12px;
}

.search-container .search-submit {
  line-height: 34px;
  font-size: 24px;
  border: 1px solid gray;
  width: 136px;
  margin-left: 14px;
}


/*

  ===================================
  Grid
  ===================================
*/


/*
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -mox-box-sizing: border-box;
          box-sizing: border-box;
}
*/

/*
===========================
Navbar
===========================
*/

.navbar {
  height:70px;
  border-bottom: 3px solid #666;
}

.nav-elements-container {
  float: right;
}

.nav-elements-container .button {
  font-size: 24px;
  text-align: center;
  width: 195px;
  line-height: 70px;
  cursor: pointer;
}

.nav-elements-container div {
  display: inline-block;
}

.dropdown-menu {
  padding:0 3px 0 0;
}

.logo-container {
  display: inline-block;
}

/*
===========================
Buttons
===========================
*/

.cta-button {
  font-weight: bold;
  color: white;
  background-color: #2b78e4;
}


/*
===========================
Images
===========================
*/

.logo-container {
  line-height: 70px;
  padding-left: 10px;
  display: inline-block;
}

.logo-container img {
  width: 45px;
  height: 45px;
  vertical-align: middle;

}

.logo-container h2 {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}

/*
===========================
Links
===========================
*/

a {
  color:#085394;
  text-decoration: none;
}

/*
===========================
Posts
===========================
*/

.post-container {
  margin:30px auto;
  width:620px;
}

.post {
  padding:40px 80px;
  border: 2px solid #ddd;
  margin: 40px;
}

.post h2 {
  font-size: 24px;
  margin: .5em 0;
}

.post .post-date {
  font-size: 14px;
  color:#ccc;
  margin: 1em 0;
}

.post .post-date-text {
  text-align: right;

}


.post .post-body {
  font-size: 16px;
  color: #444;
  line-height: 1.25em;
}

.post .comment-links-wrapper {
  margin: 20px;
  font-size: 14px;
}

.post .view-comments {
  float: left;
}

.post .write-comment {
  float: right;
}

.post .post-photo-wrapper {
  width:100%;
  height:450px;
  background-color: #eee;
}

.post .post-photo-wrapper img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}

.post